

# Workspace settings
.idea/
.venv/
*.rviz
output/

# ws legacy
view_ws/build/
view_ws/devel/
# src/baxter_fixed_base/



# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user
